.change-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
}

.change-password-container h2 {
    color: #333; 
}
.success-message {
    color: green; 
    margin-top: 15px;
}

.error-message {
    color: red; 
    margin-top: 15px;
}
h5 {
    margin-bottom: 20px;
    color: #0e5dbc;
}
.btn{
    margin-top: 0.5rem;
}