.user-info-container {
    max-width: 700px;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 3rem;
}

.user-info-container h5 {
    margin-bottom: 20px;
    color: #0e5dbc;
}

.user-info-container p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #495057;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
}

.text-danger {
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.custom-modal {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.custom-content .modal-header {
    background-color: #605DC8;
    color: white;
    border-bottom: none;
    padding: 15px 15px 0px 15px;
}

.custom-content .modal-footer {
    border-top: none;
    padding: 10px;
    justify-content: flex-end;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875rem;
    display: block;
}