<div class="mx-5">
    <form [formGroup]="searchForm">
        <div class="row mb-4">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Nhập họ tên, số điện thoại hoặc email"
                    formControlName="searchTerm" (input)="searchTinhNguyenVienFormDelay()" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary w-100" (click)="exportExcel()">
                    Xuất Excel
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <table cTable [striped]="true">
            <thead>
                <tr>
                    <th scope="col">TT</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Email</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Số lần hiến</th>
                    <th scope="col">Số quà đã nhận</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="tinhNguyenVienList.length == 0">
                    <tr class="table-danger">
                        <th colspan="100%">
                            Không có tình nguyên viên nào
                        </th>
                    </tr>
                </ng-container>
                <ng-container *ngFor="let tinhNguyenVien of tinhNguyenVienList; let i = index">
                    <tr>
                        <td>{{i+1+(currentPage-1)*pageSize}}</td>
                        <td>{{tinhNguyenVien.hoTen}}</td>
                        <td>{{tinhNguyenVien.soDienThoai}}</td>
                        <td>{{tinhNguyenVien.email}}</td>
                        <td>{{tinhNguyenVien.phuongXa}}, {{ tinhNguyenVien.quanHuyen}}, {{ tinhNguyenVien.tinhThanh}}
                        </td>
                        <td>{{tinhNguyenVien.soLanHien}}</td>
                        <td>{{tinhNguyenVien.soQuaDaNhan}}</td>
                        <td>
                            <div class="d-flex justify-content-center flex-wrap">
                                <button class="btn btn-success mx-1" (click)="OpenEditModal(tinhNguyenVien)">Tặng
                                    quà</button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div *ngIf="isEditModalOpen" class="modal fade show d-block custom-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg custom-dialog" role="document">
                <div class="modal-content custom-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Tặng quà</h5>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="tangQuaForm" novalidate>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="quaTang">Chọn quà</label><span class="text-danger">
                                            *</span>
                                        <select2 formControlName="quaTang" class="form-control" id="quaTang"
                                            [overlay]="false" placeholder="Chọn quà" [value]="selectedQuaTang"
                                            [data]="quaTangList" [styleMode]="'borderless'"
                                            [(ngModel)]="selectedQuaTang">
                                        </select2>
                                        <div *ngIf="tangQuaForm.controls['quaTang'].invalid && tangQuaForm.controls['quaTang'].touched"
                                            class="invalid-feedback">
                                            Quà tặng không được bỏ trống.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="noiDung">Nội dung</label><span class="text-danger"> *</span>
                                        <input formControlName="noiDung" placeholder="Nội dung" class="form-control"
                                            id="noiDung">
                                        <div *ngIf="tangQuaForm.controls['noiDung'].invalid && tangQuaForm.controls['noiDung'].touched"
                                            class="invalid-feedback">
                                            Nội dung không được bỏ trống.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Hủy</button>
                        <button type="button" class="btn btn-primary" (click)="saveChanges()">Tặng quà</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <button class="pagination-button" (click)="goFirstPage()" [disabled]="currentPage === 1"
                *ngIf="currentPage > 3">«</button>

            <button class="pagination-button" (click)="prePage()" [disabled]="currentPage === 1"
                *ngIf="currentPage > 1">‹</button>

            <ng-container *ngFor="let page of getLimitedPageNumbers()">
                <button class="pagination-button" [ngClass]="{'active': currentPage === page}" (click)="goToPage(page)">
                    {{ page }}
                </button>
            </ng-container>

            <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage * pageSize >= totalCount"
                *ngIf="currentPage * pageSize < totalCount">›</button>

            <button class="pagination-button" (click)="goLastPage()" [disabled]="currentPage * pageSize >= totalCount"
                *ngIf="currentPage * pageSize < totalCount - 2 * pageSize">»</button>
                
            <div class="float-end">
                <span style="margin: 0; margin-right: 1rem;">Số dòng mỗi trang: </span>
                <select style="padding: 5px;" [(ngModel)]="pageSize" (change)="searchTinhNguyenVienForm()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
    </div>
</div>