.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card {
    transition: transform 0.2s;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .status-select {
    border-radius: 5px;
  }
  
  input.form-control {
    border-radius: 5px;
  }
  
  button.btn-primary {
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .col-md-6 {
      margin-bottom: 20px;
    }
  }
  
  .company-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .table td {
    vertical-align: middle;
  }
  .table th {
    vertical-align: middle;
  }
  /* 
  .table {
    background-color: #f8f9fa;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td {
    vertical-align: middle;
    padding: 15px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table th {
    font-weight: bold;
    background-color: #e9ecef;
    color: #333;
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #007bff;
  }
  
  .table tr:hover td {
    background-color: #e9ecef;
  }
  
  .table td,
  .table th {
    text-align: left;
  }
  
  .table td {
    color: #555;
  }
  
  .table tr:nth-child(even) td {
    background-color: #f2f2f2;
  } */
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .btn-danger:active {
    transform: scale(0.95);
  }
  
  .pagination-button {
    background: none;
    border: none;
    color: rgb(88, 86, 214);
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-button:disabled {
    color: grey;
    cursor: not-allowed;
  }
  
  .pagination-button.active {
    background-color: rgb(88, 86, 214);
    color: white;
    border-radius: 5px;
  }
  
  .pagination-button:hover:not(.active) {
    background-color: rgba(13, 110, 253, 0.1);
  }
  